<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Calculator</title>
</head>

<body>
    <form style="text-align: center;" onclick="return validate()" action="/result" method="POST">
        <h1>Sum and Product Calculator</h1>

        <div>
            <label for="operation">Operation</label>
            <select name="operation" id="operation" selected>
                <option value="">Select Operation </option>
                <option value="add"> Add </option>
                <option value="product"> Product </option>
            </select>
        </div><br>

        <div>
            <label for="First-Number">First Number</label><br>
            <input type="text" name="firstNumber" id="firstNumber">
        </div><br>

        <div>
            <label for="Second-Number"> Second Number </label><br>
            <input type="text" name="secondNumber" id="secondNumber">
        </div><br>

        <div>
            <input type="submit" value="Calculate">
        </div>

    </form>
</body>

<script>
    const validate = () => {
        const firstNumber = +document.getElementById('firstNumber').value;
        const secondNumber = +document.getElementById('secondNumber').value;
        const operation = document.getElementById('operation');
        const selectedOperation = operation.selectedIndex;
        console.log(selectedOperation);
        if (isNaN (firstNumber) || isNaN (secondNumber)) {
            alert('The inputs must be numbers');
            return false;
        }  

        if (operation.options[selectedOperation].value === ""){
            alert("Select an operation");
            return false;
        }
        return true;
    }
</script>

</html>